In [1]:
# Import libraries
import numpy as np
import pandas as pd
import geopandas as gpd
import os

In [2]:
# Import processed files
m_2309_lst = pd.read_csv('processed/m_2309_lst.csv')
m_2212_cal = pd.read_csv('processed/m_2309_cal.csv')
m_2212_lst = pd.read_csv('processed/m_2212_lst.csv')
m_2309_cal = pd.read_csv('processed/m_2212_cal.csv')
b_2309_lst = pd.read_csv('processed/b_2309_lst.csv')
b_2309_cal = pd.read_csv('processed/b_2309_cal.csv')
b_2212_lst = pd.read_csv('processed/b_2212_lst.csv')
b_2212_cal = pd.read_csv('processed/b_2212_cal.csv')

/var/folders/n_/nqtn08_x2q794gzf5tpkt3vh0000gn/T/ipykernel_25055/3091754864.py:8: DtypeWarning: Columns (2,23,41,42,50,58) have mixed types. Specify dtype option on import or set low_memory=False.
  b_2212_lst = pd.read_csv('processed/b_2212_lst.csv')

In [3]:
# check data types
print(m_2309_lst.dtypes)
print(m_2309_cal.dtypes)

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
                                                 ...
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
price                                             int64
geometry                                         object
Length: 73, dtype: object
listing_id         int64
date              object
available         object
price             object
adjusted_price    object
minimum_nights     int64
maximum_nights     int64
dtype: object

In [4]:
# Check for number of categorical variables in listings
subset_cat_var_lst = m_2309_lst.select_dtypes(include=['object']) 
subset_cat_var_lst.shape[1]

cat_cols = []
dif_entries_in_col = []

for col in subset_cat_var_lst:
    cat_cols.append(col)
    dif_entries_in_col.append(subset_cat_var_lst[col].nunique())
    
entries_per_col = pd.DataFrame({'Column': cat_cols, 'Unique Entries': dif_entries_in_col})
entries_per_col.head()

         Column  Unique Entries
0   listing_url            7336
1  last_scraped               2
2        source               2
3          name            2150
4   description            6785

In [5]:
m_2309_lst.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'price', 'geometry'],
      dtype='object')

In [6]:
#create smaller subset of ...lst keeping only relevant columns
m_2309_lst_sml = m_2309_lst[['id', 'last_scraped', 'neighbourhood_cleansed', 'property_type', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'maximum_maximum_nights', 'number_of_reviews', 'price', 'license']].copy()
m_2212_lst_sml = m_2212_lst[['id', 'last_scraped', 'neighbourhood_cleansed', 'property_type', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'maximum_maximum_nights', 'number_of_reviews', 'price', 'license']].copy()
b_2309_lst_sml = b_2309_lst[['id', 'last_scraped', 'neighbourhood_cleansed', 'property_type', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'maximum_maximum_nights', 'number_of_reviews', 'price', 'license']].copy()
b_2212_lst_sml = b_2212_lst[['id', 'last_scraped', 'neighbourhood_cleansed', 'property_type', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'maximum_maximum_nights', 'number_of_reviews', 'price', 'license']].copy()

df_list = [m_2309_lst_sml, m_2212_lst_sml, b_2309_lst_sml, b_2212_lst_sml]

#### Fix the column "bathrooms_text"

In [7]:
for df in df_list:
    
    #Fill missing values
    df.loc[:,'bathrooms_text'] = df['bathrooms_text'].fillna('')

    #Replace string "half-bath" with "0.5"
    check = df['bathrooms_text'].str.contains('half-bath|Half-bath')
    df.loc[check, 'bathrooms_text'] = '0.5'
    df['bathrooms']=df['bathrooms_text'].str.split().str[0].astype(float)

#### Export subsets for further analysis

In [8]:
m_2309_lst_sml.to_csv('processed/m_2309_lst_sml.csv', index=False)
m_2212_lst_sml.to_csv('processed/m_2212_lst_sml.csv', index=False)
b_2309_lst_sml.to_csv('processed/b_2309_lst_sml.csv', index=False)
b_2212_lst_sml.to_csv('processed/b_2212_lst_sml.csv', index=False)

In [9]:
m_2309_lst_sml.shape

(7336, 14)

In [10]:
m_2212_lst_sml.shape

(5784, 14)

In [11]:
b_2309_lst_sml.shape

(13134, 14)

In [12]:
b_2212_lst_sml.shape

(15718, 14)